.loginPage{
    display: flex;   
    justify-content: center;
    flex-direction: row;
    margin-top: 120px;
}


.inputEmail{
border-top-style: hidden;
border-right-style: hidden;
border-left-style: hidden;
border-bottom-style: groove;
background-color: transparent;
color: white;
}


.inputEmail:focus{
    outline: none;
    box-shadow: none;
}

.inputPass{
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: groove;
    background-color: transparent;
    color: white;
}

   ::placeholder {
    color: white;
    opacity: 0.5; /* Firefox */
  }

.inputPass:focus{
    outline:none;
    box-shadow: none;
    background-color: none;
    outline-color: transparent;
}

#cardLogin{
color:white;
width:30rem;
border-radius: 20px;
background-color: transparent ;
-webkit-box-shadow: 8px 3px 20px -1px rgba(0,0,0,0.75);
-moz-box-shadow: 8px 3px 20px -1px rgba(0,0,0,0.75);
box-shadow: 8px 3px 20px -1px rgba(0,0,0,0.75);
}

.btnLogin{
    width: 100%;
    border-radius: 25px;
    height: 3rem;
}

.descLogin{
    margin-top: 6rem;
    float: left;
}
